<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeparateCRUD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SeparateCRUD.My.MySettings>
            <setting name="querySearch" serializeAs="String">
                <value>SELECT task_id as taskID, task_name as taskName, description as taskDescription, due_date as taskDueDate, priority as taskPriority, status as taskStatus FROM tasks WHERE task_name LIKE ?</value>
            </setting>
            <setting name="queryDelete" serializeAs="String">
                <value>DELETE FROM tasks WHERE task_id = ?</value>
            </setting>
            <setting name="queryCreate" serializeAs="String">
                <value>INSERT INTO tasks (task_name, description, due_date, priority) VALUES (?, ?, ?, ?)</value>
            </setting>
            <setting name="querySelectById" serializeAs="String">
                <value>SELECT * FROM tasks WHERE task_id = ?</value>
            </setting>
            <setting name="queryDisplay" serializeAs="String">
                <value>SELECT task_id as taskID, task_name as taskName, description as taskDescription, due_date as taskDueDate, priority as taskPriority, status as taskStatus FROM tasks</value>
            </setting>
            <setting name="queryUpdate" serializeAs="String">
                <value>UPDATE tasks SET task_name = ?, description = ?, due_date = ?, priority = ?, status = ? WHERE task_id = ?</value>
            </setting>
        </SeparateCRUD.My.MySettings>
    </applicationSettings>
</configuration>
